<footer class="rafaa-section rp-footer rp-footer-2">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-6 col-sm-12 col-12">
        <div class="wrap_footer_col">
          <img src="images/logo.png" alt="Raqeeb Template">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit sed do eiusmod tempor ut labore et dolore magna
            aliqua ut enim. </p>
          <ul class="footer_sicons">
            <li>
              <a href="#" title="facebook"><i class="fab fa-facebook-f"></i></a></li>
            <li>
              <a href="#" title="twitter"><i class="fab fa-twitter"></i></a></li>
            <li>
              <a href="#" title="linkedin"><i class="fab fa-linkedin-in"></i></a></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-12 col-12">
        <div class="wrap_footer_col footer_address">
          <h3 class="footer-head ">Head Offece</h3>
          <p>1201 Park Street, Fifth Avenue, United States of America</p>
          <p><a href="mailto:info@youdomain.com" title="mailto">info@youdomain.com</a></p>
          <p><a href="#" title="+435-977-3779">435-977-3779</a></p>
          <p><a href="#" title="+435-977-3779">435-977-3779</a></p>
        </div>
      </div>
      <div class="col-lg-2 col-md-4 col-sm-12 col-12">
        <div class="wrap_footer_col footer_col_links">
          <h3 class="footer-head ">Useful Links</h3>
          <ul class="footer_list">
            <li><a href="#" title="about us">Blogs</a></li>
            <li><a href="#" title="about us">about us</a></li>
            <li><a href="#" title="about us">Service</a></li>
            <li><a href="#" title="about us">Team</a></li>
            <li><a href="#" title="about us">Projects</a></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-4 col-md-8 col-sm-12 col-12">
        <div class="wrap_footer_col instagram_col">
          <h3 class="footer-head ">Newsletter </h3>
          <div class="subscripe_section">
            <h5>Subscribe to our newsletter & get the insights and news</h5>
            <form action="#" class="subscribe_form">
              <p>
                <input type="text" name="email" placeholder="Your email address">
                <button type="submit" class="subcribe">Go!</button>
              </p>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="row copywright_row">
      <div class="col-lg-7 col-md-7 col-12 ">
        <p class="copywright">Built with HTML5 and CSS3 - Copyright © 2018
          <a href="#">Rafaa</a>
        </p>
      </div>
      <div class="col-5 col-md-5 col-12">
        <ul class="privacy_list ">
          <li><a href="#">Privacy Policy</a>|</li>
          <li><a href="#">Cookie Policy</a>|</li>
          <li><a href="#">Terms &amp; Conditions</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
