<app-page-title [title]="'collaborate.title' | translate" [subtitle]="'collaborate.subtitle' | translate"></app-page-title>

<section class="rafaa-section service-page-1">
  <div class="container">
      <div class="row">
          <div class="col-12">
              <div class="wrap_service_page_title">
                  <span class="rp-tip">{{ 'collaborate.ways-to-collaborate.pre-title' | translate }}</span>
                  <h2 class="l-head">{{ 'collaborate.ways-to-collaborate.title' | translate }}</h2>
                  <p [innerHTML]="'collaborate.ways-to-collaborate.desc' | translate"></p>
              </div>
          </div>
      </div>
       <div class="row">
          <div class="col-lg-4 col-md-6 col-12">
              <div class="wrap_service_2 services_index_4 ">
                  <div class="head-servcie">
                      <span class="service-icon"><i class="fas fa-search"></i></span>
                      <h3>{{ 'collaborate.ways-to-collaborate.be-volunteer.title' | translate }}</h3>
                  </div>
                  <div class="body-service">
                    <p [innerHTML]="'collaborate.ways-to-collaborate.be-volunteer.text' | translate"></p>
                  </div>
              </div>
          </div>
          <div class="col-lg-4 col-md-6 col-12">
              <div class="wrap_service_2 services_index_4 ">
                  <div class="head-servcie">
                      <span class="service-icon"><i class="fas fa-thumbtack"></i></span>
                      <h3>{{ 'collaborate.ways-to-collaborate.donate.title' | translate }}</h3>
                  </div>
                  <div class="body-service">
                    <p [innerHTML]="'collaborate.ways-to-collaborate.donate.text' | translate"></p>
                  </div>
              </div>
          </div>
          <div class="col-lg-4 col-md-6 col-12">
              <div class="wrap_service_2 services_index_4 ">
                  <div class="head-servcie">
                      <span class="service-icon"><i class="fas fa-chart-bar"></i></span>
                      <h3>{{ 'collaborate.ways-to-collaborate.share.title' | translate }}</h3>
                  </div>
                  <div class="body-service">
                    <p [innerHTML]="'collaborate.ways-to-collaborate.share.text' | translate"></p>
                  </div>
              </div>
          </div>
           <div class="col-lg-4 col-md-6 col-12">
              <div class="wrap_service_2 services_index_4 ">
                  <div class="head-servcie">
                      <span class="service-icon"><i class="fas fa-coffee"></i></span>
                      <h3>{{ 'collaborate.ways-to-collaborate.org.title' | translate }}</h3>
                  </div>
                  <div class="body-service">
                    <p [innerHTML]="'collaborate.ways-to-collaborate.org.text' | translate"></p>
                  </div>
              </div>
          </div>
          <div class="col-lg-4 col-md-6 col-12">
              <div class="wrap_service_2 services_index_4 ">
                  <div class="head-servcie">
                      <span class="service-icon"><i class="fab fa-wordpress"></i></span>
                      <h3>{{ 'collaborate.ways-to-collaborate.influencer.title' | translate }}</h3>
                  </div>
                  <div class="body-service">
                    <p [innerHTML]="'collaborate.ways-to-collaborate.influencer.text' | translate"></p>
                  </div>
              </div>
          </div>
           <div class="col-lg-4 col-md-6 col-12">
              <div class="wrap_service_2 services_index_4 ">
                  <div class="head-servcie">
                      <span class="service-icon"><i class="fas fa-edit"></i></span>
                      <h3>{{ 'collaborate.ways-to-collaborate.ideas.title' | translate }}</h3>
                  </div>
                  <div class="body-service">
                    <p [innerHTML]="'collaborate.ways-to-collaborate.ideas.text' | translate"></p>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>

<section class="rafaa-section requist-qoute parallax-image">
  <div class="container">
    <div class="row">
          <div class="col-12">
            <ul class="contact_list">
              <li>
                <span class="contact_icon"><i class="fas fa-envelope"></i></span>
                <h6>contact@heartofsouthamerica.com</h6>
                <h2>{{ 'collaborate.contact' | translate }}</h2>
              </li>
            </ul>
          </div>
    </div>
  </div>
</section>
