.parallax-image {
  background-image: url('/../../../../assets/css/imgs/firstpage.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

.contact_list h2, .contact_list h6 {
  color: white;
}

.contact_list li {
  width: 100%;
}
