<app-page-title [title]="'pricing.title' | translate" [subtitle]="'pricing.subtitle' | translate"></app-page-title>
<section class="rafaa-section singel-service-page">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="wcus_section_title">
          <span class="rp-tip">{{ 'pricing.included.pre-title' | translate }}</span>
          <h2>{{ 'pricing.included.title' | translate }}</h2>
          <p>{{ 'pricing.included.desc' | translate }}</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-7 col-md-12 col-12">
        <div class="singel-page-img left-simage">
          <img src="../../../assets/images/about/about_1.jpg" alt="image title" />
        </div>
      </div>
      <div class="col-lg-5 col-md-12 col-12">
        <div class="about_list_row">
          <ul class="about_list">
            <li><span class="about_icon">
                <i class="fas fa-check"></i>
              </span>
              <p>{{ 'pricing.included.lodgment' | translate }}</p>
            </li>
            <li><span class="about_icon">
                <i class="fas fa-check"></i>
              </span>
              <p>{{ 'pricing.included.meals-included' | translate }}</p>
            </li>
            <li><span class="about_icon">
                <i class="fas fa-check"></i>
              </span>
              <p>{{ 'pricing.included.airport-movility' | translate }}</p>
            </li>
          </ul>
        </div>
        <div class="about_list_row">
          <ul class="about_list">
            <li><span class="about_icon">
                <i class="fas fa-times"></i>
              </span>
              <p>{{ 'pricing.included.vaccine' | translate }}</p>
            </li>
            <li><span class="about_icon">
                <i class="fas fa-times"></i>
              </span>
              <p>{{ 'pricing.included.travel-insurance' | translate }}</p>
            </li>
            <li><span class="about_icon">
                <i class="fas fa-times"></i>
              </span>
              <p>{{ 'pricing.included.air-ticket' | translate }}</p>
            </li>
            <li><span class="about_icon">
              <i class="fas fa-times"></i>
            </span>
            <p>{{ 'pricing.included.tours' | translate }}</p>
          </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="rafaa-section r-results">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="wcus_section_title">
          <span class="rp-tip">{{ 'pricing.money.pre-title' | translate }}</span>
          <h2>{{ 'pricing.included.title' | translate }}</h2>
          <p>{{ 'pricing.included.desc' | translate }}</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-7 col-md-12 col-12">
        <div class="results_content">
          <p>{{ 'pricing.money.text1' | translate }}</p>
          <p>{{ 'pricing.money.text2' | translate }}</p>
        </div>
      </div>
      <div class="col-lg-5 col-md-12 col-12">
        <div class="col-radar-chart">
          <div class="r_radar_chart">
            <div class="tp_chart">
              <canvas baseChart [data]="doughnutChartData" [labels]="'pricing.doughnutChartLabels' | translate" chartType="doughnut"></canvas>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="rafaa-section pricing-plans">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="wcus_section_title">
          <span class="rp-tip">{{ 'pricing.plans.pre-title' | translate }}</span>
          <h2>{{ 'pricing.plans.title' | translate }}</h2>
          <p>{{ 'pricing.plans.desc' | translate }}</p>
        </div>
      </div>
    </div>
    <div class="row row-plans">
      <div class="col-lg-3 col-md-6 col-sm-6 col-12 col-plan" *ngFor="let number of [1,2,3,4]">
        <div class="plan-content" [class.feature-plan]="number == 3">
          <div class="plan-flag" *ngIf="number == 3">
            <div>{{ 'pricing.plans.options.best-option' | translate }}</div>
          </div>
          <h5> {{ number }} {{ 'pricing.plans.options.week' | translate }}</h5>
          <div class="plan-price">
            <span class="price" *ngIf="number == 1">300<em class="currency">€</em></span>
            <span class="price" *ngIf="number == 2">500<em class="currency">€</em></span>
            <span class="price" *ngIf="number == 3">600<em class="currency">€</em></span>
            <span class="price" *ngIf="number == 4">800<em class="currency">€</em></span>
          </div>
          <ul class="plan-features">
            <li> {{ 'pricing.plans.options.lodgment' | translate }} </li>
            <li> {{ 'pricing.plans.options.meals-included' | translate }} </li>
            <li> {{ 'pricing.plans.options.tours' | translate }} </li>
          </ul>
          <a href="#" class="choose_plan" tabindex="-1"> {{ 'pricing.plans.options.choose' | translate }} </a>
        </div>
      </div>
    </div>
  </div>
</section>
