<app-page-title [title]="'Contacto'" [subtitle]="'Rellena el formulario para iniciar tu solicitud.'"></app-page-title>
<section class="rafaa-section contactus-page">
  <div class="container">
    <div class="row">
      <div class="offset-lg-2 col-lg-8 offset-md-1 col-md-10 col-sm-12 offset-sm-0 col-12">
        <div class="wrap_contact_page">
          <ul class="contact_list">
            <li>
              <span class="contact_icon"><i class="fas fa-phone"></i></span>
              <h3>Únete al grupo de Telegram</h3>
              <p>@GrupoPadreAlfredo</p>
            </li>
            <li>
              <span class="contact_icon"><i class="fas fa-envelope"></i></span>
              <h3>Pregunta dudas</h3>
              <p>info@padrealfredo.com</p>
            </li>
          </ul>
          <div class="rq-wrap-form">

            <form action="#" id="tp-form" class="tp-form-1">

              <div class="row">
                <div class="col-lg-6 col-md-6 col-12">
                  <p class="tp-form-el">
                    <input type="text" name="tp-name" id="tp-name" class="tp-feild tp-user-name" required placeholder="Nombre *">
                  </p>
                </div>
                <div class="col-lg-6 col-md-6 col-12">
                  <p class="tp-form-el">
                    <input type="text" name="tp-surname" id="tp-surname" class="tp-feild tp-user-name" required
                      placeholder="Apellidos *">
                  </p>
                </div>
              </div>

              <div class="row">
                <div class="col-lg-6 col-md-6 col-12">
                  <p class="tp-form-el">
                    <input type="text" id="tp-phone" name="tp-phone" class="tp-feild tp-phone" placeholder="Teléfono *">
                  </p>
                </div>
                <div class="col-lg-6 col-md-6 col-12">
                  <p class="tp-form-el">
                    <input type="email" name="tp-email" class="tp-feild tp-email" id="tp-email" required placeholder="Email *">
                  </p>
                </div>
              </div>

              <div class="row">
                <div class="col-lg-6 col-md-6 col-12">
                  <p class="tp-form-el">
                    <input type="text" id="tp-studies" name="tp-studies" class="tp-feild tp-studies" placeholder="Estudios ">
                  </p>
                </div>
              </div>

              <div class="row">
                <div class="col-lg-6 col-md-6 col-12">
                  <p class="tp-form-el">
                    <label for="tp-birthday">Fecha de nacimiento</label>
                    <input type="date" value="2000-01-01" id="tp-birthday" name="tp-birthday" class="tp-feild tp-birthday">
                  </p>
                </div>
                <div class="col-lg-6 col-md-6 col-12">
                  <p class="tp-form-el">
                    <label for="tp-spanish">Nivel de Español *</label>
                    <select id="tp-spanish" class="tp-feild" required>
                      <option disabled selected></option>
                      <option>Básico</option>
                      <option>Medio</option>
                      <option>Alto</option>
                      <option>Nativo</option>
                    </select>
                  </p>
                </div>
              </div>

              <div class="row">
                <div class="col-lg-6 col-md-6 col-12">
                  <p class="tp-form-el">
                    <label for="tp-know-us">Como nos conocistes</label>
                    <select id="tp-know-us" class="tp-feild">
                      <option disabled selected></option>
                      <option>Amigos</option>
                      <option>Buscaba voluntariados en internet</option>
                      <option>Redes sociales</option>
                      <option>Publicidad</option>
                    </select>
                  </p>
                </div>
                <div class="col-lg-6 col-md-6 col-12">
                  <p class="tp-form-el">
                    <label for="Duración">Duración de la estancia</label>
                    <select id="tp-spanish" class="tp-feild">
                      <option disabled selected></option>
                      <option>Plan de 1 semana</option>
                      <option>Plan de 2 semana</option>
                      <option>Plan de 3 semana</option>
                      <option>Plan de 4 semana</option>
                    </select>
                  </p>
                </div>
              </div>

              <div class="row">
                <div class="col-12">
                  <p class="tp-form-el">
                    <textarea name="tp-message" class="tp-message" placeholder="Quiero ser voluntario porque..."></textarea>
                  </p>
                  <p class="tp-form-el">
                    <textarea name="tp-volunteer-experience" class="tp-volunteer-experience" placeholder="Ya he participado en voluntariados como..."></textarea>
                  </p>
                </div>

                <div class="col-12 ">
                  <div class="tp-wrap-btn">
                    <button type="submit" class=" sendmessage_btn" id="tp-submit">Envíar petición</button>
                  </div>
                </div>
              </div>
            </form>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
