<app-page-title [title]="'Contacto'" [subtitle]="'Rellena el formulario para iniciar tu solicitud.'"></app-page-title>
<section class="rafaa-section contactus-page">
  <div class="container">
    <div class="row">
      <div class="offset-lg-2 col-lg-8 offset-md-1 col-md-10 col-sm-12 offset-sm-0 col-12">
        <div class="wrap_contact_page">
          <ul class="contact_list">
            <li>
              <span class="contact_icon"><i class="fas fa-phone"></i></span>
              <h3>Únete al grupo de Telegram</h3>
              <p>@GrupoPadreAlfredo</p>
            </li>
            <li>
              <span class="contact_icon"><i class="fas fa-envelope"></i></span>
              <h3>Pregunta dudas</h3>
              <p>info@padrealfredo.com</p>
            </li>
          </ul>
          <div class="rq-wrap-form">
            <form action="#" id="tp-form" class="tp-form-1">
              <div class="row">
                <div class="col-lg-6 col-md-6 col-12 col-form-right">
                  <p class="tp-form-el">
                    <input type="text" name="tp-username" id="tp-username" class="tp-feild tp-user-name" required=""
                      placeholder="Nombre y apellidos *">
                  </p>
                  <p class="tp-form-el">
                    <input type="email" name="tp-email" class="tp-feild tp-email" id="tp-email" required="" placeholder="Email *">
                  </p>
                </div>
                <div class="col-lg-6 col-md-6 col-12 col-form-left">
                  <p class="tp-form-el">
                    <input type="text" id="tp-phone" name="tp-phone" class="tp-feild tp-phone" placeholder="Teléfono *">
                  </p>
                  <p class="tp-form-el">
                    <input type="text" id="tp-company" name="tp-company" class="tp-feild tp-phone" placeholder="Estudios ">
                  </p>
                </div>
                <div class="col-12">
                  <p class="tp-form-el">
                    <textarea name="tp-message" class="tp-message" placeholder="Quiero ser voluntario porque..."></textarea>
                  </p>
                </div>
                <div class="col-12 ">
                  <div class="tp-wrap-btn">
                    <button type="submit" class=" sendmessage_btn" id="tp-submit">Envíar petición</button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
