<header class="tp-main-menu header-menu-2 sticky-header">
  <!-- top logo/contac inf -->
  <div class="container">
    <div class="row row_menu_2">
      <!--
      <div class="col-lg-2 col-md-12 col-12 col-logo-3">
        <div class="tagpoint-wrap-logo ">
          
          <a href="index.html" title="Rafaa HTML Template">
             <img src="images/light_logo.png" alt="Rafaa Template" class="tp_whitelogo"> 
          </a>
          
          <span class="phone_menu  primary-color">
            <i class="fas fa-bars"></i>
          </span>
        </div>
    </div>
-->

      <div class="col-lg-12 col-md-12 col-12">
        <nav class="tp-menu tagpoint-menu-2">
          <ul class="tagpoint-main-menu ">
            <li class="current_page_item  has-sub ">
              <i class="  fas fa-chevron-down tp_phone_dropdown"></i>
              <a title="Home" href="index.html">
                <i class="  fas fa-chevron-down"></i>
                Home
              </a>
              <ul class="sub-menu ">
                <li>
                  <a title="Home" href="index.html"> Home Layout 1</a>
                </li>
                <li>
                  <a title="Home" href="index_2.html"> Home Layout 2</a>
                </li>
                <li>
                  <a title="Home" href="index_3.html"> Home Layout 3</a>
                </li>
                <li>
                  <a title="Home" href="index_4.html"> Home Layout 4</a>
                </li>
                <li>
                  <a title="Home" href="index_5.html"> Home Layout 5</a>
                </li>
              </ul>
            </li>
            <li class="has-sub">
              <i class="  fas fa-chevron-down tp_phone_dropdown"></i>
              <a title="About Us" href="#">
                <i class="  fas fa-chevron-down"></i>
                About Us
              </a>
              <ul class="sub-menu">
                <li>
                  <a title="Home" href="about_1.html">About Us 1</a>
                </li>
                <li>
                  <a title="Home" href="about_2.html">About Us 2</a>
                </li>
                <li>
                  <a title="Home" href="about_3.html">About Us 3</a>
                </li>
                <li class="has-sub">
                  <i class="  fas fa-chevron-down tp_phone_dropdown"></i>
                  <a title="Home" href="#">
                    <i class=" fa  fa-chevron-right"></i>
                    30+ Pages Ready
                  </a>
                  <ul class="sub-menu  ">
                    <li>
                      <a title="Home" href="#">Services Pages</a>
                    </li>
                    <li>
                      <a title="Home" href="#">About Us 2</a>
                    </li>
                    <li>
                      <a title="Home" href="#">About Us 3</a>
                    </li>
                    <li>
                      <a title="Home" href="#">About Us 3</a>
                    </li>
                  </ul>
                </li>
              </ul>
            </li>
            <li class="has-sub">
              <i class="  fas fa-chevron-down tp_phone_dropdown"></i>
              <a title="Services" href="#">
                <i class="  fas fa-chevron-down"></i>
                Services
              </a>
              <ul class="sub-menu  ">
                <li>
                  <a title="Home" href="services_1.html">Services 1 </a>
                </li>
                <li>
                  <a title="Home" href="services_2.html">Services 2 </a>
                </li>
                <li>
                  <a title="Home" href="servicesd_1.html">Service Details 1 </a>
                </li>
                <li>
                  <a title="Home" href="servicesd_2.html">Service Details 2 </a>
                </li>
              </ul>
            </li>
            <li class="has-sub">
              <i class="  fas fa-chevron-down tp_phone_dropdown"></i>
              <a routerLink="/projects" routerLinkActive="active" title="Projects" href="#">
                <i class="  fas fa-chevron-down"></i>
                Projects
              </a>
            </li>
            <li class="has-sub">
              <i class="  fas fa-chevron-down tp_phone_dropdown"></i>
              <a title="Services" href="#">
                <i class="  fas fa-chevron-down"></i>
                Articles
              </a>
              <ul class="sub-menu ">
                <li>
                  <a title="Home" href="blayout_1.html">Blog Layout 1 </a>
                </li>
                <li>
                  <a title="Home" href="blayout_2.html">Blog Layout 2 </a>
                </li>
                <li>
                  <a title="Home" href="bdetails.html">Blogs Details </a>
                </li>
              </ul>
            </li>
            <li>
              <i class="  fas fa-chevron-down tp_phone_dropdown"></i>
              <a title="Services" href="contact.html">Contact Us</a>
            </li>
            <li class="wrap_phone request_qoute">
              <a href="#" title="Request Now" class="request_qoute">Request Now<i class="fas fa-external-link-alt"></i></a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</header>
