<app-page-title [title]="'Sobre nosotros'" [subtitle]="'Con estas ideas en mente Heart Of Southamerica echar a andar en el año 2018'"></app-page-title>

<section class="rafaa-section r-why-chooseus wc-service-page odd">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6 col-md-12 col-12">
        <div class="wrap_chooseus_img">
          <img src="../../../assets/images/market.jpg" alt="choose us" />
        </div>
      </div>
      <div class="col-lg-6 col-md-12 col-12">
        <p>
          Somos un grupo de amigos con mentalidad disruptiva que cree que el cambio que el mundo necesita debe
          realizarse
          mediante la economía colaborativa y circular.
        </p>
        <p>
          Creemos que un modelo alternativo de sociedad debe creer en el avance de países en desarrollo como Bolivia, y
          que esto
          se consigue no solo con ayudas económicas sino con el intercambio cultural y el aporte de nuevas ideas.
        </p>
      </div>
    </div>
  </div>
</section>
<section class="rafaa-section r-why-chooseus wc-service-page even">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6 col-md-12 col-12">
        <h3>"New tourism as a way to solve a problem that matters"</h3>
        <p>
          Creemos que un modelo alternativo de sociedad debe creer en el avance de países en desarrollo como Bolivia, y
          que esto
          se consigue no solo con ayudas económicas sino con el intercambio cultural y el aporte de nuevas ideas.
        </p>

      </div>
      <div class="col-lg-6 col-md-12 col-12">
        <div class="wrap_chooseus_img skill-image">
          <img src="../../../assets/images/titicaca.jpg" alt="choose us" />
        </div>
      </div>
    </div>
  </div>
</section>
<section class="rafaa-section r-why-chooseus wc-service-page odd">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6 col-md-12 col-12">
        <div class="wrap_chooseus_img">
          <img src="../../../assets/images/woman.jpg" alt="choose us" />
        </div>
      </div>
      <div class="col-lg-6 col-md-12 col-12">
        <p>
          “El mundo tal y como lo conocemos ahora va a desaparecer. Ya no se entiende un sistema económico que no tenga
          en cuenta
          la sostenibilidad.” Jeremy Rifkin.
        </p>
      </div>
    </div>
  </div>
</section>
