<app-page-title [title]="'Sobre nosotros'" [subtitle]="'Con estas ideas en mente Heart Of Southamerica echar a andar en el año 2018'"></app-page-title>

<section class="rafaa-section r-vmw">
  <div class="container">
      <div class="row">
          <div class="col-lg-4 col-md-12 col-sm-12 col-12 col_abotu_2">
              <div class="wrap_who_we_are ">
                  <span class="whoweare_icon"><i class="fas fa-pen"></i></span>
                  <h3 translate="about.who-we-are.title"></h3>
                  <p [innerHTML]="'about.who-we-are.text' | translate"></p>

              </div>
          </div>
          <div class="col-lg-4 col-md-12 col-12 col_abotu_2">
              <div class="wrap_our_vission_2 ">
                  <span class="whoweare_icon"><i class="fas fa-lightbulb"></i></span>
                  <h3 translate="about.vision.title"></h3>
                  <p [innerHTML]="'about.vision.text' | translate"></p>
              </div>
          </div>
          <div class="col-lg-4 col-md-12 col-12 col_abotu_2">
              <div class="wrap_why_us ">
                  <span class="whoweare_icon"><i class="fas fa-fire"></i></span>
                  <h3 translate="about.why-choose-us.title"></h3>
                  <p [innerHTML]="'about.why-choose-us.text' | translate"></p>
              </div>
          </div>
      </div>
  </div>
</section>

<section class="rafaa-section about_us parallax-image" parallax [config]="{ initialValue: -50, ratio: 0.3 }">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="r-testmonail">
              <p translate="about.quote.text"></p>
              <h4>
                Jeremy Rifkin <span class="cleint-position">{{ 'about.quote.author' | translate}}</span>
              </h4>
          </div>
        </div>
      </div>
    </div>
  </section>



<section class="rafaa-section about-us-features">
  <div class="container">
      <div class="row align-items-center f-service-row">
          <div class="col-lg-6 col-md-12 col-12 col-fs-img">
              <div class="feature-service-img " >
                  <img src="../../../assets/images/road.jpg" alt="join us">
              </div>
          </div>
          <div class="col-lg-6 col-md-12 col-12 col-fs-text">
              <div class="feature-service-content ">
                  <h2 class="m-head">{{ 'about.idea.how.title' | translate }}</h2>
                  <p translate="about.idea.how.text"></p>
              </div>
          </div>
      </div>
      <div class="row align-items-center f-service-row">
          <div class="col-lg-6 col-md-12 col-12 col-fs-text">
              <div class="feature-service-content ">
                  <h2 class="m-head">{{ 'about.idea.why.title' | translate }}</h2>
                  <p translate="about.idea.why.text"></p>
              </div>
          </div>
          <div class="col-lg-6 col-md-12 col-12 col-fs-img">
              <div class="feature-service-img  " >
                  <img src="../../../assets/images/uyuni.jpg" alt="join us">
              </div>
          </div>
      </div>
  </div>
</section>

<section class="rafaa-section requist-qoute">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="requist-qoute-title ">
          <span class="rp-tip">{{ 'home.contact.pre-title' | translate }}</span>
          <h2 class="l-head">{{ 'home.contact.title' | translate }}</h2>
          <p>{{ 'home.contact.desc' | translate }}</p>
        </div>
        <div class="row">
          <div class="col-12 ">
            <div class="tp-wrap-btn">
              <button class=" sendmessage_btn" routerLink="/contact" routerLinkActive="active">
                {{ 'home.contact.btn-volunteer' | translate }}
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
