.rafaa-section.r-why-chooseus.wc-service-page.odd {
  background: #f7f8f9;
}

.rafaa-section.about-us-features, .rafaa-section.r-vmw {
  background: #fff;
}

.parallax-image {
  background-image: url('/../../../../assets/css/imgs/firstpage.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}
