<!-- footer -->
<footer class="rafaa-section rp-footer rp-footer-1">
  <div class="container">
    <div class="row footer-align-center">
      <div class="col-lg-4 col-md-6 col-sm-12 col-12">
        <div class="wrap_footer_col">
          <h3 class="footer-head ">{{ 'footer.social-media' | translate }}</h3>
          <ul class="footer_sicons">
            <li>
              <a href="#" title="facebook"><i class="fab fa-facebook-f"></i></a></li>
            <li>
              <a href="#" title="twitter"><i class="fab fa-twitter"></i></a></li>
            <li>
              <a href="#" title="linkedin"><i class="fab fa-instagram"></i></a></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12 col-12">
        <div class="wrap_footer_col footer_address">
          <h3 class="footer-head ">{{ 'footer.contact' | translate }}</h3>
          <p><a href="mailto:contacto@heartofsouthamerica.org" title="mailto">contacto@heartofsouthamerica.org</a></p>
          <p><a href="#" title="+34666777888">+34 666 777 888</a></p>
        </div>
      </div>
      <div class="col-lg-4 col-md-12 col-sm-12 col-12">
        <div class="wrap_footer_col footer_col_links">
          <h3 class="footer-head ">{{ 'footer.links' | translate }}</h3>
          <ul class="footer_list">
            <li><a href="https://es.wikipedia.org/wiki/Bolivia">Bolivia</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row copywright_row">
      <div class="col-lg-5 col-md-4 col-12 ">
        <p class="copywright">Developed by
          <a href="#">Carlos Cano</a>
        </p>
      </div>
      <div class="col-lg-7 col-md-8 col-12">
        <ul class="privacy_list ">
          <li><a href="#">{{ 'footer.privacy' | translate }}</a>|</li>
          <li><a href="#">{{ 'footer.cookies' | translate }}</a>|</li>
          <li><a href="#">{{ 'footer.terms' | translate }} </a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
