<!-- footer -->
<footer class="rafaa-section rp-footer rp-footer-1">
  <div class="container">
    <div class="row footer-align-center">
      <div class="col-lg-4 col-md-6 col-sm-12 col-12">
        <div class="wrap_footer_col">
          <h3 class="footer-head ">Redes sociales</h3>
          <ul class="footer_sicons">
            <li>
              <a href="#" title="facebook"><i class="fab fa-facebook-f"></i></a></li>
            <li>
              <a href="#" title="twitter"><i class="fab fa-twitter"></i></a></li>
            <li>
              <a href="#" title="linkedin"><i class="fab fa-linkedin-in"></i></a></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12 col-12">
        <div class="wrap_footer_col footer_address">
          <h3 class="footer-head ">Contacto</h3>
          <p><a href="mailto:info@youdomain.com" title="mailto">info@youdomain.com</a></p>
          <p><a href="#" title="+34666777888">+34 666 777 888</a></p>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12 col-12">
        <div class="wrap_footer_col footer_col_links">
          <h3 class="footer-head ">Links útiles</h3>
          <ul class="footer_list">
            <li><a href="#" title="about us">Link 1</a></li>
            <li><a href="#" title="about us">Link 2</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row copywright_row">
      <div class="col-lg-7 col-md-7 col-12 ">
        <p class="copywright">Copyright © 2018
          <a href="#">Carlos Cano</a>
        </p>
      </div>
      <div class="col-5 col-md-5 col-12">
        <ul class="privacy_list ">
          <li><a href="#">Privacy Policy</a>|</li>
          <li><a href="#">Cookie Policy</a>|</li>
          <li><a href="#">Terms &amp; Conditions</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
