.requist-qoute-title {
  padding-top: 0px;
}

.tp-wrap-btn {
  padding-top: 0px;
  text-align: center;
}

.parallax-image {
  background-image: url('/../../../../assets/images/bolivia-uyuni.jpg');

}

.wrap_case_image_0 {
  background-image: url('../../../../assets/images/woman.jpg');
}

.wrap_case_image_1 {
  background-image: url('../../../../assets/images/dakar.jpg');
}

.wrap_case_image_2 {
  background-image: url('../../../../assets/images/alpacas.jpg');
}

.wrap_case_image_3 {
  background-image: url('../../../../assets/images/market.jpg');
}

.wrap_case_image_4 {
  background-image: url('../../../../assets/images/titicaca.jpg');
}

.wrap_case_image_5 {
  background-image: url('../../../../assets/images/uyuni.jpg');
}
