<!-- intro section -->
<section class="rafaa-intro">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="wrap_intro_title">
          <h1 class="tp_animate_when_visible bottom-t-top" data-delay="300">
            {{ 'home.title' | translate }}
          </h1>
          <p
            class="tp_animate_when_visible bottom-t-top"
            data-delay="400"
            data-speed="600"
          >
            {{ 'home.subtitle' | translate }}
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="rafaa-section about_us">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="wrap-about-title">
          <span class="rp-tip">{{ 'home.hos.pre-title' | translate }}</span>
          <h2 class="l-head">{{ 'home.hos.title' | translate }}</h2>
          <div class="row justify-content-md-center">
            <div class="col-md-8">
              <p>{{ 'home.hos.desc' | translate }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- our services -->
<section class="rafaa-section r-offers">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-4 col-md-6 col-sm-12 col-12">
        <div
          class="wrap-service-2 "
          routerLink="tourism"
          routerLinkActive="active"
          title="tourism"
        >
          <div class="service-2-content">
            <span class="ser_icon_2"
              ><img src="images/icons/apps.png" alt="apps development"
            /></span>
            <h3>{{ 'home.hos.tourism' | translate }}</h3>
            <a><i class="fas fa-arrow-right"></i></a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12 col-12">
        <div
          div
          class="wrap-service-2 "
          routerLink="volunteering"
          routerLinkActive="active"
          title="volunteering"
        >
          <div class="service-2-content ">
            <span class="ser_icon_2"
              ><img src="images/icons/seo.png" alt="apps development"
            /></span>
            <h3>{{ 'home.hos.volunteer' | translate }}</h3>
            <a><i class="fas fa-arrow-right"></i></a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12 col-12">
        <div
          div
          class="wrap-service-2 "
          routerLink=""
          routerLinkActive="active"
          title="volunteering"
        >
          <div class="service-2-content">
            <span class="ser_icon_2"
              ><img src="images/icons/digital.png" alt="apps development"
            /></span>
            <h3>{{ 'home.hos.collaborate' | translate }}</h3>
            <a><i class="fas fa-arrow-right"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section
  class="rafaa-section about_us parallax-image"
  parallax
  [config]="{ initialValue: -50, ratio: 0.3 }"
>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="wrap-about-title">
          <h2 class="l-head">{{ 'home.quote' | translate }}</h2>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- process -->
<section class="rafaa-section r-process">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="process-title">
          <span class="rp-tip">{{ 'home.process.pre-title' | translate }}</span>
          <h2 class="l-head">{{ 'home.process.title' | translate }}</h2>
          <div class="row justify-content-md-center">
            <div class="col-md-8">
              <p>{{ 'home.process.desc' | translate }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row row-process">
      <div class="col-lg-3 col-md-6 col-sm-6 col-12">
        <div class="wrap_process ">
          <span><i class="fas fa-info"></i><em>01</em></span>
          <h3>{{ 'home.process.steps.info' | translate }}</h3>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6 col-12">
        <div class="wrap_process ">
          <span><i class="far fa-edit"></i> <em>02</em></span>
          <h3>{{ 'home.process.steps.form' | translate }}</h3>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6 col-12">
        <div class="wrap_process ">
          <span><i class="fas fa-check"></i> <em>03</em></span>
          <h3>{{ 'home.process.steps.request' | translate }}</h3>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6 col-12">
        <div class="wrap_process ">
          <span><i class="fas fa-hands-helping"></i> <em>04</em></span>
          <h3>{{ 'home.process.steps.volunteer' | translate }}</h3>
        </div>
      </div>
    </div>
    <div class="row row-process">
      <div class="col-12 ">
        <div class="tp-wrap-btn">
          <button
            class=" sendmessage_btn"
            routerLink="/contact"
            routerLinkActive="active"
            href="#"
          >
            {{ 'home.process.steps.btn-volunteer' | translate }}
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- lasts cases -->
<section class="rafaa-section-no-margin lasts-cases">
  <div class="wrap-cases">
    <div class="col-lg-6 col-md-12 col-sm-12 col-12 col-case">
      <div class="wrap-case ">
        <div class="case_overlay"><div class="inner_case_overlay"></div></div>
        <div class="case_wrap_content">
          <div class="case_t_overlay">
            <div class="wrap_case_title">
              <h3>{{ 'home.gallery.pic1' | translate }}</h3>
            </div>
          </div>
        </div>
        <div class="wrap_case_image wrap_case_image_0"></div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6 col-12 col-case h-col-case">
      <div class="wrap-case ">
        <div class="case_overlay"><div class="inner_case_overlay"></div></div>
        <div class="case_wrap_content">
          <div class="case_t_overlay">
            <div class="wrap_case_title">
              <h3>{{ 'home.gallery.pic2' | translate }}</h3>
            </div>
          </div>
        </div>
        <div class="wrap_case_image wrap_case_image_1"></div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6 col-12 col-case h-col-case">
      <div class="wrap-case ">
        <div class="case_overlay"><div class="inner_case_overlay"></div></div>
        <div class="case_wrap_content">
          <div class="case_t_overlay">
            <div class="wrap_case_title">
              <h3>{{ 'home.gallery.pic3' | translate }}</h3>
            </div>
          </div>
        </div>
        <div class="wrap_case_image wrap_case_image_2"></div>
      </div>
    </div>
    <div class="col-lg-6 col-md-12 col-sm-12 col-12 col-case col-case">
      <div class="wrap-case ">
        <div class="case_overlay"><div class="inner_case_overlay"></div></div>
        <div class="case_wrap_content">
          <div class="case_t_overlay">
            <div class="wrap_case_title">
              <h3>{{ 'home.gallery.pic6' | translate }}</h3>
            </div>
          </div>
        </div>
        <div class="wrap_case_image wrap_case_image_3"></div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6 col-12 col-case h-col-case">
      <div class="wrap-case ">
        <div class="case_overlay"><div class="inner_case_overlay"></div></div>
        <div class="case_wrap_content">
          <div class="case_t_overlay">
            <div class="wrap_case_title">
              <h3>{{ 'home.gallery.pic4' | translate }}</h3>
            </div>
          </div>
        </div>
        <div class="wrap_case_image wrap_case_image_4"></div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6 col-12 col-case h-col-case">
      <div class="wrap-case ">
        <div class="case_overlay"><div class="inner_case_overlay"></div></div>
        <div class="case_wrap_content">
          <div class="case_t_overlay">
            <div class="wrap_case_title">
              <h3>{{ 'home.gallery.pic5' | translate }}</h3>
            </div>
          </div>
        </div>
        <div class="wrap_case_image wrap_case_image_5"></div>
      </div>
    </div>
    <div class="grid-sizer col-case col-lg-3 col-md-6 col-sm-6 col-12 "></div>
  </div>
</section>

<!-- about bolivia -->
<div class="rafaa-section r-about-us-3">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-12 col-12 ">
        <div class="wrap_about_us">
          <span class="rp-tip">
            {{ 'home.about-sa.pre-title' | translate }}</span
          >
          <h2 class="l-head">{{ 'home.about-sa.title' | translate }}</h2>
          <div class="about_list_row row">
            <ul class="col-lg-6 col-lg-6 col-sm-6 col-12 about_list">
              <li>
                <span class="about_icon"> <i class="fas fa-check"></i> </span>
                Lorem ipsum dolor sit amet.
              </li>
              <li>
                <span class="about_icon"> <i class="fas fa-check"></i> </span>
                Lorem ipsum dolor sit amet.
              </li>
              <li>
                <span class="about_icon"> <i class="fas fa-check"></i> </span>
                Lorem ipsum dolor sit amet.
              </li>
            </ul>
            <ul class="col-lg-6 col-lg-6 col-sm-6 col-12 about_list">
              <li>
                <span class="about_icon"> <i class="fas fa-check"></i> </span>
                Lorem ipsum dolor sit amet.
              </li>
              <li>
                <span class="about_icon"> <i class="fas fa-check"></i> </span>
                Lorem ipsum dolor sit amet.
              </li>
              <li>
                <span class="about_icon"> <i class="fas fa-check"></i> </span>
                Lorem ipsum dolor sit amet.
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-12 col-12 ">
        <div class="wrap_about_video">
          <img src="../../../assets/images/road.jpg" alt="about vide" />
          <a
            href="https://www.youtube.com/watch?v=PHqF0ddTcu4"
            arget="_blank"
            class="rq-play-video"
            ><i class="fas fa-play"></i
          ></a>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- faq -accordion section -->
<section class="rafaa-section r-faq">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="faq-wrap-title">
          <span class="rp-tip">{{ 'home.faq.pre-title' | translate }}</span>
          <h2 class="l-head">{{ 'home.faq.title' | translate }}</h2>
          <div class="row justify-content-md-center">
            <div class="col-md-8">
              <p>{{ 'home.faq.desc' | translate }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row row-faq align-items-center">
      <div class="col-lg-6 col-md-12 col-12">
        <div class="wrap-faq-img">
          <img src="../../../assets/images/faq.png" alt="faq" />
        </div>
      </div>
      <div class="col-lg-6 col-md-12 col-12">
        <div class="wrap_faq">
          <ul class="faq-wrap-list">
            <li class="faq-list" *ngFor="let q of questions; let first = first">
              <div class="faq-wrap-text">
                <div class="faq-wrap-head">
                  <h4 class="faq-h">{{ q.question }}</h4>
                  <span class="faq-toggle-icon" [class.faq-icon-open]="first">
                    <i class="fas fa-chevron-up"></i>
                  </span>
                </div>
                <div class="faq-wrap-para" [class.faq-close]="!first" [class.faq-open]="first">
                  <p class="faq-para">{{ q.answer }}</p>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- testmoanil -->
<section
  parallax
  [config]="{ initialValue: -50, ratio: 0.3 }"
  class="rafaa-section what_clien_say parallax-image"
>
  <div class="container">
    <div class="row testmonail_inner_row">
      <div class="col-12">
        <div class="testmoanil_container">
          <div class="wrap_tesmonails owl-carousel wrap_carousel_1">
            <div class="r-testmonail">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua.
              </p>
              <h4>
                Paco Pepe <span class="cleint-position">Marketing y RRPP</span>
              </h4>
            </div>
            <div class="r-testmonail">
              <p>
                Ut enim ad minim veniam, quis nostrud exercitation ullamco
                laboris nisi ut aliquip ex ea commodo consequat.
              </p>
              <h4>
                Yahay Nicholes <span class="cleint-position">It Solutions</span>
              </h4>
            </div>
            <div class="r-testmonail">
              <p>
                Excepteur sint occaecat cupidatat non proident, sunt in culpa
                qui officia deserunt mollit anim id est laborum.
              </p>
              <h4>
                Sara Nicholes <span class="cleint-position">Developer</span>
              </h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- send request -->
<section class="rafaa-section requist-qoute">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="requist-qoute-title ">
          <span class="rp-tip">{{ 'home.contact.pre-title' | translate }}</span>
          <h2 class="l-head">{{ 'home.contact.title' | translate }}</h2>
          <p>{{ 'home.contact.desc' | translate }}</p>
        </div>
        <div class="row">
          <div class="col-12 ">
            <div class="tp-wrap-btn">
              <button
                class=" sendmessage_btn"
                routerLink="/contact"
                routerLinkActive="active"
                href="#"
              >
                {{ 'home.contact.btn-volunteer' | translate }}
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
