<header class="tp-main-menu header-menu-2 sticky-header">
  <!-- top logo/contac inf -->
  <div class="container">
    <div class="row row_menu_2">

      <div class="col-lg-2 col-md-12 col-12 col-logo-3">
        <div class="tagpoint-wrap-logo ">
          <span class="phone_menu  primary-color">
            <i class="fas fa-bars"></i>
          </span>
        </div>
      </div>
      <div class="col-lg-12 col-md-12 col-12">
        <nav class="tp-menu tagpoint-menu-2">
          <ul class="tagpoint-main-menu ">
            <li class="current_page_item">
              <a title="Home" href="">
                {{ 'navbar.home' | translate }}
              </a>
            </li>
            <li>
              <a routerLink="volunteering" routerLinkActive="active" title="volunteering">
                {{ 'navbar.volunteering' | translate }}
              </a>
            </li>
            <li>
              <a routerLink="tourism" routerLinkActive="active" title="tourism">
                {{ 'navbar.tourism' | translate }}
              </a>
            </li>
            <li>
              <a routerLink="pricing" routerLinkActive="active" title="pricing">
                {{ 'navbar.pricing' | translate }}
              </a>
            </li>
            <li>
              <a routerLink="collaborate" routerLinkActive="active" title="collaborate">
                {{ 'navbar.collaborate' | translate }}
              </a>
            </li>
            <li>
              <a routerLink="about" routerLinkActive="active" title="About">
                {{ 'navbar.about' | translate }}
              </a>
            </li>
            <li>
              <a routerLink="contact" routerLinkActive="active" title="Contact">{{ 'navbar.contact' | translate }}</a>
            </li>
            <li class="wrap_phone request_qoute">
              <a routerLink="contact" routerLinkActive="active" title="Contact" class="request_qoute">
                {{ 'navbar.btn-volunteer' | translate }}<i class="fas fa-external-link-alt"></i></a>
            </li>
            <li class="has-sub">
              <i class="  fas fa-chevron-down tp_phone_dropdown"></i>
              <a title="languaje">{{ lang }}<i class="  fas fa-chevron-down"></i></a>

              <ul class="sub-menu">
                <li (click)="changeLanguage('es')"><a> {{ 'navbar.langs.es' | translate }} </a></li>
                <li (click)="changeLanguage('en')"><a> {{ 'navbar.langs.en' | translate }} </a></li>
              </ul>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</header>
