<!-- breadcrumbs -->
<app-page-title [title]="'Proyectos'" [subtitle]="'Aquí puedes ver los diferentes centros y las principales tareas que realizaras durante tu voluntariado'">
</app-page-title>
<section class="rafaa-section projects-singel-page ">
  <div class="container">
    <div class="row project_desc">
      <div class="col-lg-8 col-md-12 col-12">
        <h2>Project Description :</h2>
        <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni
          dolores eos qui ratione voluptatem sequi nesciunt.Nam libero tempore, cum soluta nobis est eligendi optio
          cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis
          dolor repellendus.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
          dolore magna aliqua. Ut enim ad minim veniam. Quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
          commodo consequat.</p>
      </div>
      <div class="col-lg-4 col-md-12 col-12">
        <ul class="wrap_project_info">
          <li><strong>Cleint : </strong>
            <p>Cleint Name</p>
          </li>
          <li><strong>Categories : </strong>
            <p><a href="#">Web</a>,<a href="#">SEO</a>,<a href="#">Marketing</a></p>
          </li>
          <li><strong>Location : </strong>
            <p>Miami, FL, United States</p>
          </li>
          <li><strong>Demo : </strong>
            <p><a href="#">site.google.com</a></p>
          </li>
          <li class="share_project">
            <span>Share :</span>
            <a href="#" title="share via facebook"><i class="fab fa-facebook-f"></i></a>
            <a href="#" title="share via twitter"><i class="fab fa-twitter"></i></a>
            <a href="#" title="share via linked in"><i class="fab fa-linkedin-in"></i></a>
          </li>
        </ul>
      </div>
    </div>
    <div class="row project_gallery">
      <div class="col-lg-4 col-md-4 col-sm-12 col-12">
        <div class="wrap_galler">
          <img src="http://via.placeholder.com/1200x780" alt="project name" />
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12 col-12">
        <div class="wrap_galler">
          <img src="http://via.placeholder.com/1200x780" alt="project name" />
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12 col-12">
        <div class="wrap_galler">
          <img src="http://via.placeholder.com/1200x780" alt="project name" />
        </div>
      </div>
    </div>
    <div class="row row-project-details ">
      <div class="col-lg-6 col-md-12 col-12 ">
        <h2>Project Results</h2>
        <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni
          dolores eos qui ratione voluptatem sequi nesciunt.Nam libero tempore, cum soluta nobis est eligendi optio
          cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis
          dolor repellendus. Donec quam est, suscipit vel ligula ut, aliquet maximus libero. Pellentesque finibus
          tellus vitae dolor lacinia eleifend. Nulla sit amet nunc massa.</p>
      </div>
      <div class="col-lg-6 col-md-12 col-12">
        <div class="wrap_skills">
          <h4 class="skill-title">UX Design</h4>
          <div id="progress_bar_1" class="tagpoint_progress_bar progress_bar_lin" data-to="77" data-type="line"
            data-stockwidth="2" data-color="#ff5e14" data-trailcolor="#eee" data-trailwidth="2" data-pfontsize="32"
            data-pfontcolor="#777" data-lfsize="15" data-title="UX Design">
          </div>
          <h4 class="skill-title">Web Developer</h4>
          <div id="progress_bar_2" class="tagpoint_progress_bar progress_bar_lin" data-to="89" data-type="line"
            data-stockwidth="2" data-color="#73b91b" data-trailcolor="#eee" data-trailwidth="2" data-pfontsize="32"
            data-pfontcolor="#777" data-lfsize="15">
          </div>
          <h4 class="skill-title">Google SEO</h4>
          <div id="progress_bar_4" class="tagpoint_progress_bar progress_bar_lin" data-to="77" data-type="line"
            data-stockwidth="2" data-color="#5d33fb" data-trailcolor="#eee" data-trailwidth="2" data-pfontsize="32"
            data-pfontcolor="#777" data-lfsize="15">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
